# eclipse
bin
libs
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# forge
*changelog.txt

# API and other code
src/api/

# other
eclipse
run
decomp.bat
recompile.bat

# Example References
#"version - Example.json"

Personal Plan Stuff
Removed Stuff